$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 0 auto;
  width: 60%;
}

#board {
  display: flex;
  flex-wrap: wrap;
}

#board div {
  display: flex;
  flex: 30%;
  height: 150px;
  border-style: solid;
}
